@import "tailwindcss";

@layer base {
  body {
    background-color: #09090b;
    color: #f8fafc;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

.bg-dot-grid {
  background-image: radial-gradient(#312e81 1px, transparent 1px);
  background-size: 24px 24px;
}
